
@font-face {
    font-family: 'Goudy Stout';
    src: url('../fonts/GoudyStout.woff2') format('woff2'),
        url('../fonts/GoudyStout.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

